<!doctype html><html>
<head>
    <title>Portfolio App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body        { padding-top:80px; }

    </style>
</head>
<body>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa "></span>Portfolio App</h1>


        <br>

        <button class = "btn .btn-default" data-toggle="collapse" data-target="#col2">Client</button>
        <div  id="col2" class="collapse">
          <a href="/clientlogin" class="btn btn-default "><span class="fa fa-user"></span>Login</a>
          <a href="/clientsignup" class="btn btn-default "><span class="fa fa-user"></span>Signup</a>
        </div>
        <button class = "btn .btn-default" data-toggle="collapse" data-target="#col3">Visitor</button>
        <div id="col3" class="collapse">
          <a href="/visitor" class="btn btn-default"><span class="fa fa-user"></span>Go</a>
        </div>        <button class = "btn .btn-default" data-toggle="collapse" data-target="#col1">Student</button>
        <div id="col1" class="collapse">
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default "><span class="fa fa-user"></span>Signup</a>
        </div>
    </div>

</div>
</body>
</html>
